# Build output
bin/
obj/
*.exe
*.dll
*.pdb
*.config

# VS-specific
.vs/
*.user
*.suo
*.cache
*.log

# ClickOnce output
publish/
*.application
*.manifest
*.deploy

# Inno Setup output
Installer/
*.iss~

# NuGet
packages/
*.nupkg
project.lock.json

# Sensitive files
*.pfx

# Others
*.bak
*.build-res
*.cache
*.pdb
*.suo
*.user
_ReSharper*
InstallerFiles/*.ico
InstallerFiles/*.exe
